/* Style de base pour le centre de la page d'accueil */
.home-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Hauteur de la vue */
  background-color: #f7f7f7; /* Couleur de fond */
}

/* Style pour le titre */
.home-center h1 {
  font-size: 2rem; 
  margin-bottom: 2rem;
}

/* Style pour les boutons */
.home-center button {
  padding: 10px 20px; 
  font-size: 1rem; 
  margin: 1rem; 
  cursor: pointer; 
  background-color: #007bff; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  transition: background-color 0.3s;
}

/* Style pour le bouton au survol */
.home-center button:hover {
  background-color: #0056b3; 
}

/* Style pour le bouton au clic */
.home-center button:active {
  background-color: #004999; 
}
